Reminder/modules/shopping/src/main/resources/imageData.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema 由 XMLSpy v2006 U 创建 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entry" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="entry">
		<xs:complexType>
			<xs:attribute name="soundURL" type="xs:string" use="required"/>
			<xs:attribute name="imgURL" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
